/* @import "tailwindcss";

@layer utilities {
  .gradient-underline {
    @apply relative cursor-pointer;
  }

  .gradient-underline::after {
    content: "";
    @apply absolute left-0 -bottom-1 h-[5px] w-0 transition-all duration-300;
    background: linear-gradient(90deg, #8BB94C, #1FA2BE);
  }

  .gradient-underline:hover::after {
    width: 100%;
  }

  @media (max-width: 767px) {
    .mobile-active-pill {
      border: 2px solid transparent;
      border-radius: 9999px;
      padding: 0.35rem 0.9rem;
      background:
        linear-gradient(#fff, #fff) padding-box,
        linear-gradient(90deg, #8BB94C, #1FA2BE) border-box;
    }
  }
}
body {
  font-family: 'Inter', sans-serif;
} */
@import "tailwindcss";

@layer base {
  body {
    font-family: 'Public Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  }

  .font-body {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  }
}
@import "tailwindcss";

/* =========================
   GLOBAL + FONT SYSTEM
========================= */
@layer base {


  .public {
    font-family: 'Public Sans', sans-serif;
  }
}
@layer components {
  .heading-gradient{
    @apply bg-gradient-to-r from-[#549121] to-[#0CB3DB];
  }
}

@layer utilities {
  .gradient-underline {
    position: relative;
    cursor: pointer;
  }
  .cut-top-right {
    clip-path: polygon(0 0, 50% 0, 60% 100%, 0 100%);
  
  }

  .gradient-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 5px;
    width: 0;
    transition: all 0.3s;
    background: linear-gradient(90deg, #8BB94C, #1FA2BE);
  }

  .gradient-underline:hover::after {
    width: 100%;
  }

  @media (max-width: 767px) {
    .mobile-active-pill {
      border: 2px solid transparent;
      border-radius: 9999px;
      padding: 0.35rem 0.9rem;
      background:
        linear-gradient(#fff, #fff) padding-box,
        linear-gradient(90deg, #8BB94C, #1FA2BE) border-box;
    }
  }
  
}
